:root {
    --content-gap: 20px;
    --gap: 24px;
    --radius: .4rem;
    --footer-height: 60px;
    --header-height: 60px;
    --main-width: 1024px;
    --nav-width: var(--main-width);
    --border: #0D2230;          /* Entry border color */
    --code-bg: #F7EADE;         /* Backtick code lines */
    --content: #1f1f1f;         /* Main single view color on --theme background */
    --entry: var(--code-bg);    /* Posts in list view and ToC */
    --hljs-bg: #1c1d21;         /* Code blocks */
    --primary: #63351b;         /* Title, links on --theme background AND --entry background */
    --secondary: #808000;       /* Text color on --entry background */
    --tertiary: #f96743;        /* Tags, categories, back-to-top */
    --theme: #FFF4EC;           /* Main background color */
}

.dark {
    --border: #cccccc;
    --code-bg: #2e2e33;
    --content: var(--border);
    --entry: #242424;
    --hljs-bg: var(--code-bg);
    --primary: #f96743;
    --secondary: #cccccc;
    --theme: #1a1a1a;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
