.terms-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}

.terms-tags li {
    display: inline-block;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--theme);
    border: 1px dashed;
    border-color: var(--primary);
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    transform: scale(0.96);
}

.terms-tags a:hover {
    border: 1px solid;
}

.terms-categories {
    list-style-type: disc;
    gap: 5px 10px;
}

.terms-categories li {
    list-style-position: inside;
    font-weight: 500;
}

.terms-categories a {
    border-color: var(--primary);
    padding: 3px 10px;
    transition: transform 0.1s;
}

.terms-categories a:active {
    transform: scale(0.96);
}

.terms-categories a:hover {
    border-bottom: 1px solid;
}
